@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

:root {
  /* colors */
  --color-success: #66f3a8;
  --color-error: #fa7070;
  --font-family: monospace;
  --color-accent-hover: #ff00fb;
  --color-accent: #e8ff9d;
  --color-accent-dark: #6e60fb;
  /* colors  - grey*/
  --color-grey-lightest: #f5f7fa;
  --color-grey-lighter: #f0f1f2;
  --color-grey-light: #e0e1e2;
  --color-grey: #8f8f90;
  --color-grey-dark: #2d2f31;
  --color-grey-darker: #202224;
  --color-grey-darkest: #161618;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body,
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 500;
}
body {
  background: white;
  background-image: radial-gradient(rgb(169, 169, 169) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-grey-darkest);
}
input {
  accent-color: #daff01;
}
body.dark {
  background: var(--color-grey-darkest);
  background-image: radial-gradient(white 1px, transparent 0);
  color: white;
}
body.dark .container {
  background: var(--color-grey-darker);
}
#beziers {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#title {
  padding: 25px;
  font-size: 126px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 10;
  word-break: break-all;
}

#title > p {
  font-family: monospace;
  top: 0;
  left: 0px;
  padding: 0;
  margin: 0;
  margin-top: -25px;
  font-size: 16px;
}
#title > h1 {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 128px;
  font-family: "Inter", sans-serif;
}
input[type="range"] {
  width: 75px;
}
svg {
  width: 15px;
}

.container {
  z-index: 10;
  display: inline-flex;

  width: 100vw;
  padding: 0 15px 0 15px;
  justify-content: space-between;
  height: fit-content;
  font-size: 10pt;
  position: fixed;
  align-items: center;
  bottom: 0px;
  left: 0px;
  box-shadow: inset 0 0 0 0.5px black;

  backdrop-filter: blur(3px);
  flex-wrap: wrap;
}
.inner {
  display: table;
  width: fit-content;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}

svg {
  pointer-events: none;
}
button {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 100;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  display: flx;
  padding: 0;
}

label {
  padding: 0;
  margin: 0;
  width: fit-content;
}
.divider {
  height: 100%;
  width: 1px;
  display: flex;
  background-color: var(--color-grey-dark);

  z-index: 10;
}
.flex {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.flex-range {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
